.designerlist-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  background: radial-gradient(
    circle at center right,
    rgba(228, 120, 139, 0.9),
    rgba(255, 244, 246, 1)
  );
  height: 100vh;
}

.designerlist-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 50px;
}

.designer-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 16px;
  width: 373px;
  height: 208px;
}

.designer-card:hover {
  transform: translateY(-2px);
}

.designerlist-info {
  display: flex;
  max-height: 70px;
}

.designerlist-info .designerlist-profile {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  object-fit: cover;
  margin: 0 auto 16px 10px;
}

.designerlist-text {
  flex: 1;
  text-align: center;
  min-width: 180px;
}

.designerlist-text h2 {
  color: #090a0a;
  font-size: 18px;
  margin-left: 10px;
  text-align: left;
}

/* 지역 */
.designerlist-text .designerlist-region {
  color: #494949;
  font-size: 11px;
  margin-left: 10px;
  text-align: left;
}

/* 특기 */
.designerlist-text .designerlist-region .designerlist-field {
  margin-left: 12px;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #888ef1;
  color: #ffffff;
  border-radius: 48px;
  border: none;
  text-align: center;
  font-size: 10px;
}

/* 한줄 소개 */
.designerlist-text .introduction {
  color: #444;
  font-size: 8px;
  margin: 5px 0 0 10px;
  text-align: left;
}

.select-reserve-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: #a42d4e;
  border: 1px solid #a42d4e;
  border-radius: 48px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 5ms;
  width: 78px;
  height: 27px;
  margin-right: 10px;
  margin-top: 10px;
}

.select-designer-button:hover {
  background-color: #357abd;
}

.designerlist-portfolio {
  display: flex;
  justify-content: space-evenly;
  gap: 11px;
  width: 333px;
  height: 94px;
}

.designerlist-portfolio .portfolio-image {
  width: 90px;
  height: 90px;
  border-radius: 4px;
}
